<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
</head>
<body>
   <form method="POST", action="/chat">
    <h1>Add new chat</h1>
    <br/>
    <input placeholder="who are you ?" name="from"/>
    <br/> <br/>
   <textarea placeholder="type your message here..." name="msg"></textarea>
    <br/> <br/>
   <input placeholder="add reciver" name="to"/>
   <br/> <br/>
   <button>submit</button>
  </form>
</body>
</html>